.quest__container {
    
    width: 100%; 
}

    .quest{
        color:var(--color-bg);
    }
    .quest__buttons{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }

.quest__text{
    display: inline-block;
    justify-content: center; 
    max-width: 255px;
    text-align: left;
}

@media all and (min-width:850px){
    .quest__buttons{
        flex-direction: row;
        
    }
}