.card-home{
    margin:48px;
}
    .img__section {
        height: 267px;
    }
    .container__title{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
    }
        .card__stain {
            height: 80px; 
            width: 74px;
        }
        .card__title {
            font-size: 24px;
            padding: 24px;
            
        }
            .title-section {
                display: block;
            }

            .card__description{
                text-align: left;
                
            }

@media all and (min-width: 800px) {
.card-home{
    display:flex;
}
    .img__section {
        height: 600px;
    }

}