
    .header__container{
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 11vh;
    }
        .header__container::before{
             content: "";
             background-color: var(--color-header,#A9B59D);
             position: absolute;  
             top: 0px;
             left: 0px;
             bottom:50vh;
             right: 0px;
             animation: slid-header 1s ease-in forwards;
        
            
        }
        @keyframes slid-header {
            0% {
                top:0;
                bottom:100%
                
            }
           100% {
                bottom:54vh ;
               
            }
          } 
    
        .header__image{
            height: 13vh;
            margin:12px;
        }

        .header__description{
            margin:48px 25vw;
            text-align: left;
            
        }

        @media all and (min-width:700px){

            .header__container{
                margin-top: 30vh;
            }
                .header__container::before{
                    margin: 0 80px;
                    /* bottom: 50vh; */
                }
        
            .header__description{
                margin:102px 25vw;        
            }
        
        
        }




