
    .header__container{
        display: flex;
        justify-content: center;
        align-items: center; 
        margin-top: 11vh;
    }
    
        .header__image{
            height: 13vh;
            margin:12px;
        }

        .header__description{
            margin:48px 25vw;
            text-align: left;
            
        }

        @media all and (min-width:700px){

            .header__container{
                margin-top: 30vh;
            }
                .header__container::before{
                    margin: 0 80px;
                    /* bottom: 50vh; */
                }
        
            .header__description{
                margin:102px 25vw;        
            }
        
        
        }




