
  

.headboard {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
} 
        /* .headboard::before{
            content:''; 
             background-color: var(--color-home);
            position:absolute;
            top:0;
            bottom:0 ;
            left:0;
            right: 0;
            justify-content: end;
            animation: slide-bottom 3.0s ease-out ;
            animation-fill-mode: forwards;
          
        }
        @keyframes slide-bottom {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(60%);
            }
        } */
     
        
    

        .first-title {
            text-align: left;
            font-size: 60px;
            white-space: nowrap;
            display:block;
            margin: 0;
            position:absolute;
            width:6ch;

            animation: typing 5s steps(6);
            overflow: hidden;
           
        }
        @keyframes typing{
            from {width:0;}
        }
 
        
        .gif {
            width: 90px;
            position:absolute;
            bottom:26%;
            right: 25vw;
        }

    @media all and (min-width:700px) {
         .headboard::before{
            position:absolute;
            top:0;
            bottom: 0;
            left:0;
            right: 38vw;
            margin:80px;
            animation: slide-right 2.0s ease-in-out;
        }

        @keyframes slide-right {
            0% {
              width: 100%;
            }
            100% {
              width:50%;
            }
        }      
            
            
            
            
    }
       