 
  

/*-----------------------cards---------------------*/
.card__container{
    margin: 10rem 0;
    
}
    .img__section {
        height: 70vw;
      
    }
    .bg-img {
        background-image: url(../img/fondoWireframe.png) ;
        background-repeat: no-repeat;
        background-size: cover;
     
        
        
    }

    .card-title{
        text-align: center;
        padding:30px ;
        
    }
        .title-section {
            display: block;  
        }

    .card-description{
        margin: 2em 5em;
    }

       



/*----------------BREAK--------------------*/

@media all and (min-width:850px){
    .card__container{
        margin: 15rem 0;
    }    
    .home{
        margin:0 auto;
        
    }
    .row-desktop{
        display:flex;
        max-width: 1200px;
        margin:0 auto;
        justify-content: space-between;
        padding:10rem 0;
        
    }
    .bg-img{
        height: 44vh;
    }
        .about{
            flex-direction: row-reverse;
            align-items: flex-end;
        }
        .digital{
            padding-bottom: 24px;
            margin:0 auto;
        }
        .img__section{
            display:flex;
            height: 600px;
        }
        .digital-design{
           margin:0 auto;
        }
        .card-text{
            max-width: 360px;
       
        }
            .card-title{
                text-align: left;
              
            }
            .card-description{
                padding: 30px ;
                margin: 0;
            }
        

        

}
