
.card__container{
    margin: 20em 0;
}
    .img__section {
        height: 70vw;
      
    }
    
   
   


    .card-title{
        text-align: center;
        padding:30px ;
        
    }
        .title-section {
            display: block;  
        }

    .card-description{
        margin: 2em 5em;
    }

        .button-contact{
            cursor: pointer;
            position: relative;
            display: inline-block;
            padding: 12px 24px;
            border: var(--stroke) var(--color-home);
            border-radius: var(--stroke-radius);
            font-weight: bold;
            overflow: hidden;
            color:var(--color-home);
            background-color: transparent;
            text-decoration: none;
            
          
            }
                .button-contact:hover{
                    color:var(--color-bg);
                }
        
                .button-contact::before, .button-contact::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transition: all 0.25s ease;
                    border-radius: 50px;
                }
                    .button-contact::before{
                        border-radius: var(--stroke-radius);
                        margin-left: -100%;
                        box-shadow: inset 0 0 0 20px var(--color-home);
                        z-index:-1; 
                    }
                    
                    .button-contact:hover::before{
                        margin-left: 0; 
                    }
/*---------------------------- BREAK------------------------------*/
@media all and (min-width:850px){
    .home{
        margin:0 auto;
        
    }
    .row-desktop{
        display:flex;
        max-width: 1200px;
        margin:0 auto;
        justify-content: space-between;
        padding:15em 0;
        
    }
        .about{
            flex-direction: row-reverse;
            align-items: flex-end;
        }
        .digital{
            margin-bottom: 24px;
        }
        .img__section{
            display:flex;
            height: 600px;
        }
        .digital-design{
           margin:0 auto;
        }
        .card-text{
            max-width: 360px;
       
        }
            .card-title{
                text-align: left;
              
            }
            .card-description{
                padding: 30px ;
                margin: 0;
            }
        

        

}
