    /*VARIABLES*/
:root{
   /*Colores*/
  --color-grafic:#A9B59D;
  --color-home: #FDAC39;
  --color-front:#95BAF3;
  --color-bg: #F8F1E8;
  --color-typography:#000000;
  --color-margin: #FFFFFF;


  /* Buttons*/
  --stroke: 3px solid;
  --stroke-radius: 50px;
  /*mb*/
  --size-mb-button:18px;
  /*dk*/
  --size-dk-button:24px;

  /*z-index*/
  --bottom: -1;
  --bottom-medium:1;
  --medium: 2;
  --top-medium:4;
  --top:5;

}
/* text-align text*/
.left{
  text-align: left;
  z-index:var(--bottom-medium);  
}

/* Typography-size*/
h1{
  font-size: 38px;
  
} 
h2{
  font-size: 24px;
  
}
h3{
  font-size: 18px;
}
p{
  font-size: 14px;

}
a{
  color:var(--color-typography)
}
img{
  z-index: var(--bottom-medium);
}


.App {
  text-align: center;
  overflow: hidden;
  height: 100%;
 
}

  .name{
    text-align: left;
    
    margin: 20px;
    
  }

  .menu {
    color: var(--color-typography);

  }



  /*-----------------------------BREAK----------------------------*/
@media all and (min-width:700px){
  h1{
    font-size: 48px;
    
  } 
  h2{
    font-size: 38px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 18px;
  }
  .name{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: fixed;
    left: 0;
    top:40vh;
  }


  .frame-top{
    background-color: var(--color-margin);
    position:fixed;
    top:0;
    left:0;
    right: 0;

    z-index:var(--top-medium);
  
  }
  .frame-bottom{
    background-color: var(--color-margin);
    position:fixed;
    bottom:0;
    left:0;
    right: 0;
    height: 80px;
    z-index:var(--top-medium);
  }
}

/* @media all and (min-width:1000px){}
.frame-top{
  height: 80px;
}
.frame-bottom{
  height: 80px;
} */

