:root{
   /*Colores*/
  --color-grafic:#A9B59D;
  --color-ux:#DD723A;
  --color-home: #FDAC39;
  --color-front:#95BAF3;
  --color-bg: #F8F1E8;
  --color-typography:#000000;
  --color-margin: #FFFFFF;

  /*Typography*/

  --font-family:


}

.App {
  text-align: center;
  background-color: var(--color-bg);
}

.menu {
  text-align: right; 
  margin: 24px;
  color: var(--color-typography);

}





