:root{
   /*Colores*/
  
  --color-home: #FDAC39;
  --color-front:#95BAF3;
  --color-bg: #F8F1E8;
  --color-typography:#000000;
  --color-margin: #FFFFFF;

  /*Typography*/



  /* Border buttons*/
  --stroke: 3px solid;
  --stroke-radius: 50px;

}

.App {
  text-align: center;
  /* background-color: var(--color-bg); */
  overflow: hidden;
  
  
  
}
  .name{
    text-align: left;
    
    margin: 20px;
    
  }

  .menu {
    color: var(--color-typography);

  }
@media all and (min-width:700px){
  .name{
    writing-mode: vertical-rl;
    position: fixed;
    left: 0;
    top:40vh;
  }
}




