.header{
    padding: var(--ds-spacing, 8px);
    background-color: var(--color-green);
    height: 50%;
}

.header__title{
    font-size: 24px;
    font-family:'Century Gothic' ;
    color:var(--color-black);
}