.img-card{
    width:100vw ;
    padding: 2rem 0;
}

.text-card{
    margin:1.5rem 2rem;
}

@media all and (min-width:850px){
    .container-card{
        max-width: 1200px;
        margin:0 auto;
    }
    .container-img-card{
        display:flex;
        justify-content: center;

    }

        .img-card{
            width: 40vw;
            margin: 6rem 0;
            
        }
        .grap{
            padding-left: 1rem;
        }
    .text-card{
        width: 40vw;
        margin:0 auto;
        padding-bottom: 1rem;
    }
}

