 
.bg-animation{
    height: 55vh;
    width:100%;
    align-items: flex-end;
    justify-content: center;
    position:relative;
    display:flex;
    
}
    .bg-animation::before {
        content: "";
        background-color: var(--color-home);
        position: absolute; 
            top:-100px;
            left: 0px;
            right: 0px;
            bottom: 70px;
        


        animation: animation-begin 2.5s ease-out forwards;
    }
        @keyframes animation-begin {
                
            0% {
                top:-100px;
                bottom:100%;               
            }
            100% {
                bottom:70px ;      
            }
        } 



.bg-animation-start{
    height: 100vh;
    width:100%;
    align-items: flex-end;
    justify-content: center;
    position: relative;
          
}
    .bg-animation-start::before {
        content: "";
        background-color: var(--color-home);
        position: absolute;  
            top: -100px;
            left: 0px;
            bottom:0px;
            right: 0px;
    animation: bg-cover 2.5s ease-out forwards;
    }
        @keyframes bg-cover{
                        
            0% {
                top:-100px;
                bottom:70px;
                                    
            }
            100% {
                bottom:0px ;      
            }
        } 
              

/*------------------------------------------------------BREAK---------------------------------------------------*/



    @media all and (min-width:700px) {
        .bg-animation{
            height: 85vh;
            align-items: center;
        }
        .bg-animation::before{
                bottom: 0px;
                right:44vw;
            animation: slide-right 2.5s ease-out ;
        }
            @keyframes slide-right {
                0% {
                    right: 0;
                }
                100% {
                    right:44vw;
                }
            } 
            
        .bg-animation-start{
                height: 85vh;
        }
        .bg-animation-start::before{
                bottom: 0;
                right:38vw;
            animation: bg-cover-right 2.5s ease-out forwards ;
        }
            @keyframes bg-cover-right {
                0% {
                    right: 38vw;
                }
                100% {
                    right: 0;
                }
            } 
        
    }

    
    

